{% include 'adminheader.html' %}


<center>
    <div class="img-div"></div>
    <h3>View Classes</h3>
    <form action="" method="post">
    <table class="table table-striped tbl-new bg-light shadow" style="max-width: 1200px;">
        <tr>
            <th>Index</th>
            <th>Class</th>
     
        </tr>
        {% for row in data['res'] %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ row['class_name'] }}</td>
 

        </tr>
        {% endfor %}
    </table>
</form>
</center>

{% include 'footer.html' %}